<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <input type="hidden" id="openpay_token" name="openpay_token" value="" />
  	    <input type="hidden" id="response" name="response" value="" />
            <!-- ko template: 'Magento_Payment/payment/cc-form' --><!-- /ko -->
		<div class="fieldset" data-bind="visible: showMonthsInterestFree()">                
                <div class="field type">
                    <label class="label" for="cds_ccpayment_interest_free" style="font-weight: 600; margin-bottom: 5px;">Meses sin intereses</label>
                    <div class="control">
                        <select id="interest_free" name="interest_free" class="select" style="width: auto;" data-bind="options: getMonthsInterestFree(), 
                       optionsText: function(month) {
                           return month+' meses';
                       }"></select>
                    </div>                    
                </div>
		
                <div id="total-monthly-payment" class="field type" style="display: none;">
                    <label style="font-weight: 600; margin-bottom: 5px;">Estarías pagando mensualmente</label>                
                    <p class="openpay-total" style="font-size: 2em; font-weight: bold;">$<span id="monthly-payment">100</span></p>
                </div>                
            </div>                
            
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: preparePayment.bind($data,'undefined','undefined')
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<iframe id="iframeBAC" name="iframeBAC" height="0" frameborder="0">
  <html>
    <head></head>
    <body>
    </body>
  </html>
</iframe>
